#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: none;
}

#nprogress .spinner {
    display: none;
}

.react-toast-notifications__container {
    overflow-y: hidden !important;
}

.MuiList-root button {
    width: 100%;
}

.fslightbox-toolbar-button:nth-child(1) {
    display: none;
}

.fslightbox-slide-number-container {
    display: none !important;
}

.fslightbox-container {
    background: rgba(0, 0, 0, 0.9) !important;
}

.fslightbox-slide-btn {
    display: none !important;
}

.fslightbox-toolbar {
    background: none !important;
}
