// Spacing
$space-tiny: 5px;
$space-small: 10px;

// Icon Dimensions
$icon-size: 40px;

// Icons
$icon-arrow-back: '/images/lightbox/arrow-back.svg';
$icon-arrow-forward: '/images/lightbox/arrow-forward.svg';
$icon-close: '/images/lightbox/close.svg';

// Colors
$bg-color: rgba(47, 47, 49, 0.8);
$bg-color-hover: rgba(73, 73, 74, 0.8);

// Breakpoints
$breakpoint-tablet: 768px;
