.BrainhubCarousel {
    margin-left: -350px;

    @media only screen and (max-width: 768px) {
        margin-left: -615px;
    }

    .BrainhubCarousel__arrows {
        position: absolute;
        z-index: 1;

        &.BrainhubCarousel__arrowLeft {
            left: 10px;
        }

        &.BrainhubCarousel__arrowRight {
            right: 10px;
        }
    }
}
