$arrow-offset: 2.45px;
$box-shadow: 0 2px 4px 0 $transparent-gray;

.BrainhubCarousel {
    .BrainhubCarousel__arrows {
        border-radius: $icon-size;
        background-color: $purple;
        box-shadow: $box-shadow;

        &:hover {
            background-color: $purple-dark;
        }
    }

    .BrainhubCarousel__arrowRight {
        span {
            margin-left: -$arrow-offset !important;
        }
    }

    .BrainhubCarousel__arrowLeft {
        span {
            margin-left: $arrow-offset !important;
        }
    }

    .BrainhubCarousel__arrows {
        position: absolute;
        z-index: 1;

        &.BrainhubCarousel__arrowLeft {
            left: $space-medium;
            margin-top: -$space-xl;
        }

        &.BrainhubCarousel__arrowRight {
            right: $space-medium;
            margin-top: -$space-xl;
        }
    }

    @media only screen and (max-width: 768px) {
        .BrainhubCarousel__arrows {
            padding: 24px;

            &.BrainhubCarousel__arrowLeft,
            &.BrainhubCarousel__arrowRight {
                margin-top: 0;
            }
        }
    }
}
